<!doctype html>
<html>
<head>
    <title>Bowie Console</title>
    <link rel="stylesheet" href="css/angular-material.min.css"/>
    <link rel="stylesheet" href="css/bowie.css"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/angular-joystick.js"></script>
    <script src="js/bowie.js"></script>
</head>
<body ng-app="bowie" ng-cloak="">
    <div class="" layout="row" layout-align="center center">
        <h2>Bowie Console</h2>
    </div>
    <div layout="row" layout-align="center center" ng-controller="bowieCtl">
        <div>
            <div layout="row">
                <img id="frontview" width="750px"height="400px" src="/picam.jpg"/>
            </div>
            <div class="md-padding" layout="row" layout-align="center center">
                <div layout="column" class="md-padding">
                    <div layout="row" layout-align="start center">
<!--
                        <md-button class="btn-red md-fab" aria-label="red" ng-click="redClicked();" title="drive with joystick"></md-button>
                        <md-button class="btn-yellow md-fab" aria-label="yellow" ng-click="yellowClicked();" title="move arm with joystick"></md-button>
                        <md-button class="btn-green md-fab" aria-label="green" ng-click="greenClicked();" title="collect - fast"></md-button>
-->
                        <md-button class="btn-green md-fab" aria-label="white" ng-click="whiteClicked();" title="deposit"></md-button>
			<label>Scoop Trash</label>
                    </div>
                    <div layout="row" layout-align="start center">
<!--
                        <md-button class="btn-blue md-fab" aria-label="blue" ng-click="blueClicked();" title="collect - slow"></md-button>
-->
                        <md-button class="btn-blue md-fab" aria-label="black" ng-click="blackClicked();" title="dance!"></md-button>
			<label>Empty Hopper</label>
                    </div>
                </div>
                <div layout="column">
                    <div layout="row">
                        <angular-joystick layout="column" coords="coords", on-move="joystickMove()" />
                    </div>
                </div>
<!--
                <div layout="column" class="md-padding">
                    <div layout="row">
                        <span lightswitch="">
                            <label>Superbright LEDS</label>
                        </span>
                    </div>
                </div>
-->
                <div>
                    <textarea id="sensors"></textarea>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
